body{
background-color: aliceblue;
width: 100%;
height: 100vh;
background-attachment: fixed;


}
.cofe{
background-color:rgba(0, 0, 0, 0.897) ;
width: 70%;
height: 70vh;
display: flex;
justify-content: center;
align-items: center;
margin-left: 200px;
margin-top: 80px;
box-shadow: 10px 10px 15px rgb(211, 160, 31),-10px 10px 20px rgb(0, 0, 0) ;
    
}
.cofe img{
width: 400px;
height: 400px;
float: left;
margin-left: -150px;



}
.cofe h1{
    text-align: right;
    color: rgb(218, 103, 2);
    margin-right: 90px;
    margin-top: -200px;
    white-space: pre-wrap;
    font-size: 2em;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
.cofe p{
     
    margin-top: -60px;
   text-align: center;
    color: azure;
    letter-spacing: 1px;
    margin-left: -450px;
}
.cofe button{
height:40px ;
width:100px ;
border-radius: 20px;
background-color: rgb(165, 71, 71);
font-size: 1em;
font-weight: 700;
margin-left: -200px;
margin-top: 100px;
}
.cofe:hover{
 box-shadow: 10px 10px 15px chocolate;
}
.cofe button:hover{
background-color: rgb(184, 129, 129);

}
